
 <table class="table table-striped table-hover">
    <thead> <tr class="alertText"> 
      <td> Features</td>
     
      <td>Links</td>
    </tr></thead>
    <tbody>
    <tr >
      <td>
       Shopping
      </td>
    
    
     
      <td>
        
     
     <button>
         Click to VR mode
     </button>
    
      </td>
      

    </tr>
    
      <tr >
        
        <td>
         Entertainment
        </td>
      
      
       
        <td>
          
        <Button>
            Watch Now!
        </Button>
        </td>
  
      </tr>
     
  </tbody>
  </table> 
