
 <table class="table table-striped table-hover">
    <thead> <tr class="alertText"> 
      <td> Features</td>
     
      <td>Values</td>
    </tr></thead>
    <tbody>
    <tr >
      <td>
        ECG
      </td>
    
    
     
      <td>
        
      89
      </td>
      

    </tr>
    
      <tr >
        
        <td>
         Sleep Tracking
        </td>
      
      
       
        <td>
          
        4 hrs
        </td>
  
      </tr>
      <tr >
        
        <td>
          Blood Oxygen
        </td>
      
      
       
        <td>
          
        98%
        </td>
  
      </tr>
  </tbody>
  </table> 