<!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * -->
<!-- * * * * * * * * * * * The content below * * * * * * * * * * * -->
<!-- * * * * * * * * * * is only a placeholder * * * * * * * * * * -->
<!-- * * * * * * * * * * and can be replaced. * * * * * * * * * * * -->
<!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * -->
<!-- * * * * * * * * * Delete the template below * * * * * * * * * * -->
<!-- * * * * * * * to get started with your project! * * * * * * * * -->
<!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * -->



<!-- Toolbar -->
<div class="toolbar" role="banner">
    <img
      width="40"
      alt="Angular Logo"
      src="../../assets/logo.PNG"
    />
    <!-- <span class="appfont">NeoHuma</span> -->
      <div class="spacer"></div>
     
      <span class="username-text">Logged User</span>
  </div>

  <div>


  
  
  <div class="content" role="main">
  
 <div class="row">
<div class="col">
    <div class="alert-tab">
        <div class="alert-tab-heading">
          <h5> 
            <div>
              <span>
               Health Check
                <!-- <i class="fa fa-expand pull-right" aria-hidden="true" (click)="navigateAlerts(1)"></i> -->
              </span>             
            </div>
          </h5>
          <img
      width="30"
      alt="Angular Logo"
      src="../../assets/Picture5.png"
    />
        </div>
        <div class="alert-tab-content"> 
            
            <app-health></app-health>
          
        </div>
      </div> 
      <div class="alert-tab">
        <div class="alert-tab-heading">
          <h5> 
            <div>
             
              <span>
               Work Check
                <!-- <i class="fa fa-expand pull-right" aria-hidden="true" (click)="navigateAlerts(1)"></i> -->
              </span>             
            </div>
          </h5>
          <img
      width="30"
      alt="Angular Logo"
      src="../../assets/Picture2.png"
    />
        </div>
        <div class="alert-tab-content"> 
            
        <app-work></app-work>
          
        </div>
      </div> 

</div>
<div class="col">

    <div class="alert-tab">
        <div class="alert-tab-heading">
          <h5> 
            <div>
             
              <span>
               Life Pratice
                
              </span>             
            </div>
          </h5>
          <img
      width="30"
      alt="Angular Logo"
      src="../../assets/Picture3.png"
    />
        </div>
        <div class="alert-tab-content"> 
            
        <app-life></app-life>
          
        </div>
      </div> 

      <div class="alert-tab">
        <div class="alert-tab-heading">
          <h5> 
            <div>
             
              <span>
               Home Check
                <!-- <i class="fa fa-expand pull-right" aria-hidden="true" (click)="navigateAlerts(1)"></i> -->
              </span>             
            </div>
          </h5>
          <div>
            <img
            width="30"
            alt="Angular Logo"
            src="../../assets/Picture4.png"
          />
          </div>          
        </div>
        <div class="alert-tab-content"> 
            
        <app-house></app-house>
          
        </div>
      </div> 
</div>

 </div>  
     
  </div>


  <footer>
    In Beta!!!
    
</footer>


</div>
  
  <!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * -->
  <!-- * * * * * * * * * * * The content above * * * * * * * * * * * -->
  <!-- * * * * * * * * * * is only a placeholder * * * * * * * * * * -->
  <!-- * * * * * * * * * * and can be replaced. * * * * * * * * * * * -->
  <!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * -->
  <!-- * * * * * * * * * * End of Placeholder * * * * * * * * * * * -->
  <!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * -->
  
  